
.inknut-antiqua-normal {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }


.title-typeAircrafts{
    font-size: 70px;
    color: #651229;
    text-align: center;
    font-weight: 100;
}

.card {
    height: 300px;
    width: 360px;
    position: relative;
}

.three-types {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-card {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #C29244;
    text-align: center; 
    font-size: 24px; 
    text-shadow: 
        -2px -2px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black; 
    width: 100%;
}


.discover-image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 2px 2px grey;
    cursor: pointer;
}

@media (max-width:800px){
    .three-types{
        flex-direction: column;
        gap: 20px;
    }

    .card {
        height:  230px;
        width: 250px;
    }

    .title-typeAircrafts{
        font-size: 35px;
    }
}

