

nav {
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1); 
    padding: 0 20px;
    z-index: 99;
    background-color: #FBEBD9;
    position: sticky;
    width: 100%;
    top: 0;
}


.logo_title{
    height: 80px;
    width: 100px;
}


.logo-title{
    font-size: 30px;
    color: #651229;
    margin-left: -15px;
    cursor: pointer;
}

span{
    color: #C29244;
    
}

.search-logo{
    height: 30px;
    width: 40px;
    position: absolute;
    left: 0;
}

.navbar-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   
}

.logo-with-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
    
}

.nav-menu ul{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    
}

.nav-menu li {
    list-style: none;
 
}

.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #651229;
    
}

.nav-menu a:hover{
    color: #C29244;
    transition: 0.5s ease;
}

.right{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   
}

.search-logo-input{
    position: relative;
}

.contain-search{
    height: 80px;
    width: 250px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


input{
    width: 100%;
    height: 50%;;
    padding-left: 35px;
    padding-right: 10px;
    border-radius: 20px;
}

input::placeholder{
   color: #C29244;
   font-size: 15px;
   text-align: left;
}

.nav-menu-2 ul{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.nav-menu-2 li {
    list-style: none;
}

.nav-menu-2 a {
    text-decoration: none;
    font-size: 20px;
    color: #651229;
}

.nav-menu-2 a:hover{
    color: #C29244;
    transition: 0.5s ease;
}





@media screen and (max-width: 800px) {
    .nav-menu a{
        font-size: 15px;
    }
    .nav-menu-2 a{
        font-size: 15px; 
    }
    .menu-icon {
        display: block; 
    }
    .logo_title{
        height: 50px;
        width: 50px;
        transform: scale(1.9);
    } 
    .logo-title{
        font-size: 30px;
        color: #651229;
        margin-left: -5px;
        cursor: pointer;
    }


    .contain-search{
        width: 120px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    
    input{
        width: 100%;
        height: 40%;;
        padding-left: 25px;
    }
    
    input::placeholder{
       color: #C29244;
       font-size: 10px;
       text-align: left;
    }

    .search-logo{
        height: 25px;
        width: 20px;
    }

    .navbar-container{
        justify-content: space-around;
        gap: 5px;
    
    }

    .nav-menu ul{
    
        justify-content: center;
     
    }

    .nav-menu-2 ul{
        justify-content: center;
    }

    nav {
        padding: 0;
    }

    .contain-search-menu{
        width: 200px;
    }

}

.navbar-small{
    display: none;
}
.logo_title-mobile{
    width: 100px;
    height: 80px;
}
.search-logo-mobile{
    width: 40px;
    height: 30px;
}







@media screen and (max-width:450px) {

    .navbar-container{
        display: none;
    }

    .navbar-small{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .nav-menu-mobile ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    .nav-menu-mobile li {
        list-style-type: none;
    }

    .nav-menu-mobile li a{
        text-decoration: none;
        color:#651229;
        font-size: 11px;
    }

    .logo-mobile{
        position: relative;
        display: flex ;
        justify-content: center;
    }

    .contain-search-menu{
        position: relative;
        height: 30px;
        margin: auto;
    }
    .search-logo-mobile{
        position: absolute;
        left: 0;
    }
    .contain-search-menu input{
        height: 100%;
        padding-left: 40px;
    }

    
}

@media screen and (max-width:350px){
    .nav-menu-mobile ul{
        flex-direction: column;
    }

    .logo_title-mobile{
        width: 50px;
        height: 50px;
    }

    .logo-title{
       font-size: 20px;
    }

    .nav-menu-mobile li {
        font-size: 10px;
    }

    .contain-search-menu{
        position: relative;
        height: 20px;
    }

    .search-logo-mobile{
        width: 20px;
        height: 20px;
    }

}



