.title-contact{
    font-size: 70px;
    color: #651229;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
}


.inknut-antiqua-normal {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal; 
  }


  @media (max-width:800px){
    .title-contact{
        font-size: 35px; 
        margin-bottom: 50px;
      } 
  }