@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #FFF9E9;
    min-height: 100vh;
}


.inknut-antiqua-extrabold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
  }

.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 200;
    font-style: normal;
  }

  .back-button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #681e32;
    width: 50px;
    display: flex;
    align-items: center;
  }

  i {
    margin: 5px;
    cursor: pointer;
  }


  .back-button:hover{
    color: #c3a212;
  }

  

